<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
body {
background-color: rgb(248, 243, 243);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
#mobilephone{
  background-color: rgb(249, 252, 247);
  height: 540px;
  width: 260px;
  border-width:medium;
  border-style:solid;
  border-color:blue;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 20px;
    border-radius:25px
}
.appbutton{
    height:60px;
    width:200px;
    background-color:#d6eff5;
    font:40px;
    text-align:center;
    line-height:60px;
    margin:5px;
    border-radius:10px
}
.navbar{background:#d6eff5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}

</style>

  <title>申請者App示意版</title>
  </head>
  <body>
    <div id="show_div">
            <content1></content1>
    </div>

    <template id="content1UI">
        <div id="mobilephone">
            <h3>共識碳權申請人App</h3>
            <div class="row" id="tablefy" v-for="work of work2dos" :key="work._id">
              <div class="col-lg-12 col-md-12 col-sm-12">
              <form  :action="work.route" method="get">
                <input type="hidden" name="status" :value="work.status">
                <input type="hidden" name="statusreport" value="由申請人App按鈕進入本頁">
                <input type="submit" :value="work.label" class="appbutton">
              </form>
    </div>
    </div>
              <==           ...
          </div>
        </template>

<!-- Vue CDN-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script>
  Vue.component("content1",{
    props:{},
    data(){
      return {
        work2dos:[
            {"route":"/base4dcarbon",
                "label":"登入.註冊",
                "status":"1"
                },
            {"route":"/base4dcarbon/activity/inputpage1",
            "label":"申請共識碳權",
                "status":"2"
            },
            {"route":"/base4dcarbon/case/applycase",
            "label":"上傳佐證資料",
                "status":"3"
            },
            {"route":"/base4dcarbon/evidence/photo",
            "label":"拍照後上傳",
                "status":"4"
            },
            {"route":"/base4dcarbon/case/applycase",
            "label":"認驗證進度查詢",
                "status":"5"
            },
            {"route":"/base4dcarbon/credit/applicant/",
            "label":"共識碳權權包",
                "status":"6"
          }],
        personID:'<%= personID %>',
      }
    },
    mounted:function(){
      for(work of this.work2dos)
        work.route=work.route+'/'+this.personID
    },
    methods:{

    },
    template:"#content1UI"
  });
/*
  Vue.component("content2",{
    props:{},
    data(){
      return{
      }
    },
    mounted:{

    },
    methods:{

    },
    template:"#content2UI"
  });
*/
    new Vue({
        el:'#show_div',
        data(){
            return{
                testdata:'有執行到此。。。。'
            }
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
