<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="/javascripts/jquery-3.4.1.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<style type="text/css">
body {
background-color: rgb(205, 226, 253);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
#tablefy{
    display: inline-block;
  flex-direction:row;
	 justify-content: flex-start;
     align-items:left;
     margin:10px
}
.navbar{background:#cff8c5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
.page-item {
    margin-right:12px
}
.page-item[active=true]{
    font-weight: bold;
    text-decoration:underline
}
</style>

  <title>認驗證方法建構區入口</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
      <div class="row" align="justify">
        <outputer></outputer>
      </div>
        <!-- <inputer></inputer> -->
    </div>

    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link  active" href="#">{{data2manage}}<span class="sr-only">(current)</span></a>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link" :href="previousurl">{{previouspage}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :href="outcomeurl">{{outcomepage}}</a>
              </li>
-->
          </ul>
          <span class="navbar-text">
            <font size="2">{{statusreport}}</font>
          </span>
        </div>
      </nav>
    </template>

    <template id="outputerUI">
        <nav aria-label="...">
          <div class="row" id="tablefy" v-for="table of tables" :key="table._id">
            <div class="col-lg-3 col-md-6 col-sm-12">
            <form  :action="table.route" method="get">
              <input type="hidden" name="statusreport" value="由資料維管按鈕進入本頁">
              <input type="submit" :value="table.label" class="btn btn-info">
            </form>
  </div>
  </div>
      </nav>
      </template>

      <template id="outputerUI">

      </template>

  <!-- Vue CDN-->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
  <script>
  Vue.component("bander",{
      props:{},
      data(){
        return {
          brand:"dCarbon",
          //previouspage:"回案件清單頁",
          data2manage:"各資料表維管入口",
          //outcomepage:"檢視認驗證方法建構結果",
          statusreport:'<%- statusreport %>',
          personID:'<%- personID %>',
          previousurl:"",
          outcomeurl:""
        }
      },
          mounted:function(){
            let basepath="/base4dcarbon/branch";
            this.previousurl=basepath+"/pwa4methodor/"+this.personID;
            let status0="?statusreport=由資料表維管入口進入本頁&status=0";
          },
      methods:{

      },
      template:"#banderUI"
    });
    Vue.component("inputer",{
      props:{},
      data(){
        return {


        }
      },

      methods:{

      },
      template:"#inputerUI"
    });
    Vue.component("outputer",{
      props:{},
      data(){
        return{
          statusreport:'<%- statusreport %>',
          personID:'<%- personID %>',
          tables:[
            {"route":"/base4dcarbon/user",
            "label":"使用者帳戶資料表維管"
            },
            {"route":"/base4dcarbon/userright",
            "label":"使用者權限資料表維管"
            },
            {"route":"/base4dcarbon/staff",
            "label":"團隊人員資料表維管"
            },
            {"route":"/base4dcarbon/applicant",
            "label":"認證申請人資料表維管"
            },
            {"route":"/base4dcarbon/loyalist",
            "label":"淨零義士資料表維管"
            },
            {"route":"/base4dcarbon/product",
            "label":"申請碳權產品資料表維管"
            },
            {"route":"/base4dcarbon/activity",
            "label":"減碳或增匯活動資料表維管"
            },
            {"route":"/base4dcarbon/subact",
            "label":"減碳或增匯細部活動資料表維管"
            },
            {"route":"/base4dcarbon/input",
            "label":"細部活動投入資料表維管"
            },
            {"route":"/base4dcarbon/coefficient",
            "label":"細部活動碳排係數資料表維管"
            },
            {"route":"/base4dcarbon/method",
            "label":"認驗證方法資料表維管"
            },
            {"route":"/base4dcarbon/dataneed",
            "label":"驗證所需提供資料表維管"
            },
            {"route":"/base4dcarbon/case",
            "label":"申請案場資料表維管"
            },
            {"route":"/base4dcarbon/progress",
            "label":"申請案件進度表資料表維管"
            },
            {"route":"/base4dcarbon/evidence",
            "label":"上傳佐證資料表維管"
            },
            {"route":"/base4dcarbon/report",
            "label":"驗證報告資料表維管"
            },
            {"route":"/base4dcarbon/credit",
            "label":"公評碳權管理資料表維管"
            },
            {"route":"/base4dcarbon/award",
            "label":"公評點數資料表維管"
            },
            {"route":"/base4dcarbon/source",
            "label":"資料來源資料表維管"
            },
            {"route":"/base4dcarbon/term",
            "label":"名詞對照資料表維管"
            }
            ]
        }
      },
      mounted:function(){
        for(table of this.tables)
        table.route=table.route+'/'+this.personID;
        console.log("revise route: "+table.route)
      },
      methods:{

      },
    template:"#outputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
